.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:rgb(0, 0, 0);
    color: white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

.navbar-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100px;
}

.navbar-logo a{
    text-decoration: none;
    color:white;
    font-size:1.5rem;
    font-size:bold;

}
.navbar-links{
    display:flex;
    list-style: none;
    gap:20px;
    margin:0;
}

.navbar-links li a{
    text-decoration: none;
    color:white;
    font-size:bold;
    transition:color 0.3s ease;
}
.navbar-links li a:hover{
    color:blue;
    text-decoration: underline;
}
.navbar-links li a:visited {
    color: green; /* Change this to your desired visited link color */
  }

.navbar-toggle{
    display:none;
    font-size:1.5rem;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
}

@media screen and (max-width:768px){
    .navbar-links{
    display:none;
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: black; 
    }

    .navbar-links.active{
        display:flex;
    }

    .navbar-toggle{
        display:block;
    }

    /*.navbar-links li{
        margin-bottom:10px;
    }

    .navbar-links li:last-child{
        margin-bottom:0;
    }
    */
}