.newpage{
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: lightblue;
    padding-top: 200px; /* Adjust this value to ensure content is not hidden behind the navbar */
    height:300vh;
  }

  .languages{

    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    padding-top: 200px; /* Adjust this value to ensure content is not hidden behind the navbar */
    height:100vh;
    text-align: center;

  }
  .projects{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:white;
    padding-top: 100px; /* Adjust this value to ensure content is not hidden behind the navbar */
    height:500vh
  }
  .link-button{
    display: inline-block;
    margin: 40px 0;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  .vote{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(80, 232, 80);
    padding-top: 100px; /* Adjust this value to ensure content is not hidden behind the navbar */    background-size: cover; /* Ensure the image covers the entire background */
    height:300vh;
    width:600vw;
    
  }
  
  h1 {
    color: #000000;
  }
  
  h2, h3 {
    color: #000000;
  }
  
  p {
    color: #000000;
  }
  

  
  .link-button:hover {
    background-color: #0056b3;
  }